body {
    background: rgba(255, 255, 255, 0.15);
    background: linear-gradient(120deg, #727272, #adadad);
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.container-deb {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comprar-button {
    width: 100%;
    background-color: rgb(94, 196, 255);
    color: #fff;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
}

.preview {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.preview h3 {
    margin-top: 0;
}

#card-preview {
    background-color: #c7a74dce;
    padding: 20px;
    border-radius: 10px;
    border-color: black;

} 

.card-number {
    font-size: 20px;
    margin-bottom: 10px;
}

.expiration-cvv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card-holder {
    font-style: italic;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }

    .volver-btn {
        margin-left: 10px;
        margin-top: 10px;
    }
}

/**/
.navbar-expand-lg {
    background-color:rgb(0, 0, 0) !important; 
}
.nav-item{
    margin-top: 15px;
}
.btn-registerr{
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 10px;
    background-color: rgb(99, 99, 99);
    height: 37px;
    margin-top:15px;
}
.btn-loginn{
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 8px 15px;
    border-radius: 10px;
    margin: 20px;
    background-color: rgb(99, 99, 99);
    height: 37px;
    margin-top:15px;
}
.btn-histo{
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: rgb(99, 99, 99);
    height: 37px;
    margin-top:15px;
}
.offcanvas-body .btn-login,
.offcanvas-body .btn-register,
.offcanvas-body .btn-histo {
    font-size: 14px; 
    padding: 9px 10px;
    margin: -8px; 
    margin-left: -2px;
    margin-top: 15px;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 90px;
}
.card{
    width: 325px;
    background-color: rgb(100, 100, 100);
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    overflow: hidden;
    transition: transform 0.6s ease;
}
.card:hover {
    transform: translateY(-20px);
}
.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.card-content{
    padding: 20px;
}
.card-content h1{
    font-size: 25px;
    margin-bottom: 10px;
    color: white;
}
.card-content p{
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
.card-button{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 8px;
    padding: 8px 16px;
}
.producto{
    text-align: center;
    font-size: 55px;
}
.table-container {
    max-width: 1400px; 
    margin: 0 auto; 
    margin-top: 30px;
}

.offcanvas-body .btn-loginn,
.offcanvas-body .btn-registerr {
    font-size: 15px; 
    padding: 8px 20px; 
    margin: 5px; 
}
.btn-register{
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 10px;
    background-color: rgb(99, 99, 99);
    height: 37px;
}
.btn-login{
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 8px 15px;
    border-radius: 10px;
    margin: 20px;
    background-color: rgb(99, 99, 99);
    height: 37px;
}
.btn btn-primary{
    margin-left: 1582px;
}
.borrarpedido{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(182, 20, 20); 
    color: #fff; 
    padding: 5px 9px; 
    border-radius: 8px;
    text-decoration: none; 
}

@media(max-width: 991px){
    .menulateral{
        background-color: rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
    }
} 