.volver-btn {
    background-color: #bdbdbd; 
    color: #fff; 
    padding: 2px 5px; 
    text-decoration: none; 
    border-radius: 50px; 
    display: inline-block; 
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;

}

.recuadro {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: linear-gradient(20deg, #000000, #393838);
    border: 2px solid #cedceb;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2em;
    color: #efeff0;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background:  linear-gradient(120deg, #181818,#adadad);
    height: 100vh;
}

@media screen and (max-width: 768px) {
    .volver-btn {

        padding: 2px 5px; /* Ajusta el relleno si es necesario */
    }

    .recuadro {
        
        width: 60%; 
        padding: 10px; 
    }
}