#Titulo{
    text-align: center;
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url('../img/portada_mujer.jpg'); /* Ruta de la imagen de fondo esta foto está de ejemplo*/
    background-size: cover; 
    background-position: center; 
    padding: 90px; 
    margin-bottom: 20px; 
    
}
.volver-btn { /*este es el boton que esta en la esquina en todas las paginas (la mayoria xd)*/
    background-color: #bdbdbd; 
    color: #fff; 
    padding: 2px 5px; 
    text-decoration: none; 
    border-radius: 50px; 
    display: inline-block; 
    margin-bottom: 0px;
}
body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(120deg, #181818, #adadad);
    height: 100vh;
}
.card {
    max-width: 200px; 
    height: auto; 
}

.card-body {
    padding: 1px; 
}

.card-title {
    font-size: 1rem; 
}

.card-text {
    font-size: 0.6rem; 
}
/* Estilos para la tarjeta */
.card {
    margin-bottom: 20px; /* Agrega un espacio entre las tarjetas */
}

/* Estilos para el botón de compra dentro de la tarjeta */
.card .btn-primary {
    width: 100%; /* El botón ocupa todo el ancho de su contenedor */
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    /* Estilos para la tarjeta en pantallas más pequeñas */
    .card {
        width: 100%; /* La tarjeta ocupa todo el ancho disponible */
    }

    /* Estilos para el botón de compra dentro de la tarjeta en pantallas más pequeñas */
    .card .btn-primary {
        width: auto; /* El botón toma su ancho por defecto */
    }
}

@media (max-width: 952px) {
    
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left:6px;
        transform: translateX(-50);
        width: 90%;
        height: 2px;
        background-color: rgb(123, 224, 255);
        padding-left: 20px;
    }
    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }
}

/* Ocultar los botones específicos en pantallas más pequeñas */
@media (max-width: 768px) {
    .login-button {
        display: none;
    }
    .navbar-nav {
        display: block !important;
    }
}


.heroo-section{
    background-size: cover;
    width: 100%;
    height: 10vh;
    
}
.navbar{
    background-color: rgb(207, 207, 207);
    height: 60px;
}
.btn-group {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.btn-group .btn {
    margin-left: 10px;
}
.login-button{
    background-color: rgb(94, 196, 255);
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}
.login-button:hover{
    background-color: (94, 196, 255) ;
}
.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}
.nav-link{
    color:rgb(0, 0, 0);
    font-weight: 500;
    position: relative;
}
.nav-link:hover, nav-link.active{
    color: rgb(0, 0, 0);
}
.btn-group {
    position: absolute; /* Cambiado de 'fixed' a 'absolute' */
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.btn-group .btn {
    margin-left: 10px;
}
.volver-btn{
    background-color: #bdbdbd; 
    color: #fff; 
    padding: 2px 5px; 
    text-decoration: none; 
    border-radius: 50px; 
    display: inline-block; 
    margin-bottom: 0px;
}

